
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700;900&display=swap');

body{
    font-family: 'roboto',sans-serif  ;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

span{
    font-size: 20px;
    padding: 15px;
}

/*********LOADER*********/ 
.loader {
	position: absolute;
    top:0;
    bottom: 0;
    left:0;
    right: 0;
	animation:displayLoader 3s forwards;
    background-color: #ffffff;    
  }
  
  .inner {
	position: absolute;
	align-self:center;
	width: 120px;
	height: 120px;
	border-radius: 50%; 
    top:20%;
	left: calc(50% - 60px);
 
  }
  
  .inner.loader_border1 {
	animation: rotate-one 1s linear infinite;
	border-bottom: 5px solid #9356DC;
  }
  .inner.loader_border2 {
	animation: rotate-two 1s linear infinite;
	border-right: 5px solid #FF79DA;
  }
  .inner.loader_border3 {
	animation: rotate-three 1s linear infinite;
	border-top:5px solid #99E2D0;
  }
  
  @keyframes rotate-one {
	0% {
	  transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
	}
	100% {
	  transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
	}
  }
  
  @keyframes rotate-two {
	0% {
	  transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
	}
	100% {
	  transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
	}
  }
  
  @keyframes rotate-three {
	0% {
	  transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
	}
	100% {
	  transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
	}
  }

    @keyframes displayLoader {
        from{
            opacity:1;
            z-index: 15;
        }
        60%{
            opacity: 1;
            z-index: 15;
        }
        90%{
            opacity: 0;
        }
        to{
            opacity:0;
            display: none;
            z-index: -10;
        }
    }

/*********HEADER*********/
header{
    display: flex;
    justify-content: center;
    width: 100%;
}

    .logo_ohmyfood{
        width: 200px;
        padding: 15px;
    }

/*********SECTION ADRESSE*********/
.section_adresse{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-weight: 600;
    padding:10px 0px 10px 0px ;
    width: 100%;
    background-color: rgb(232, 232, 232);
}

/*********SECTION PRESENTATION*********/
.section_presentation{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 40px 0px 60px 0px;
    background-color:rgb(242, 242, 242) ;
}

     .section_presentation__title, .section_presentation__subtitle{
        padding: 15px;
    }  

    .section_presentation__title{
        font-size: 25px;
        font-weight: 600;
    }

    .section_presentation__subtitle{
        font-size: 18px;
        font-weight: lighter;
        margin-bottom: 30px;
    }

    .bouton_explorer{
        text-decoration: none;
        color: black;
        border-radius: 40px;
        padding: 15px 30px 15px 30px;
        color: white;
        background:linear-gradient(#FF79DA, #9356DC) ;
        box-shadow: 2px 3px 12px 4px rgb(220, 220, 220);
        transition: 0.3s ease-in-out;
        cursor: pointer;
    }
    .bouton_explorer:hover{
        filter: brightness(1.1);
        box-shadow: 2px 10px 20px 0px rgb(188, 188, 188);    
    }

/*********SECTION FONCTIONNEMENT*********/
.section_fonctionnement{
    padding: 0px 15px 0px 15px;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top:30px ;
    margin-bottom: 50px;
}

    .section_fonctionnement__card{
        display: flex;
        align-items: center;
        width: 100%;
        box-sizing: border-box;      
        padding: 18px 15px 18px 15px; 
        border-radius: 15px;
        background-color: rgba(247, 247, 247, 0.961);
        box-shadow: 2px 3px 12px 4px rgb(236, 236, 236);
        transition:0.3s ease-in-out;
    }
    .section_fonctionnement__card:hover{
        background-color: #f2eafb;
    }

        .card__number{
            background-color: #9356DC;
            border-radius: 150px;
            width: 17px;
            padding: 8px;
            position: absolute;
            margin-left: -30px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;  
        }

        h3{
            margin-left:-10px;
            font-size: 25px;
            margin-bottom: 0px;
            width: 100%;
        }

        .card__text{
            font-weight: bold;
            font-size: 18px;
        }

        .section_fonctionnement__icon{
            color: gray;
        }

/*********SECTION RESTAURANTS*********/ 
.section_restaurants{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color:#f6f6f6;
    align-items: center;
    gap: 20px;
    padding-top: 30px;
    padding-bottom: 50px;
}

    .section_restaurants__title{
        width: 90%;
    }

    .section_restaurants__card{
        display: flex;
        flex-direction: column;
        width: 90%;
        height: 270px;
        background-color: white;
        border-radius: 20px;
        text-decoration: none;
        color: black;
        box-shadow: 2px 3px 12px 4px rgb(236, 236, 236);
        transition:all 0.3s ease-in-out ;
    }
    .section_restaurants__card:hover{
        filter:brightness(1.1) ;
        box-shadow: 4px 6px 12px 8px rgb(203, 203, 203);
        transform:scale(1.01);
    }
   
    .section_restaurants__card:hover .loader{
        visibility: visible;

    }

        .section_restaurants_card__image{
            width: 100%;
            display: flex;
            object-fit: cover;
            height: 68%;
            border-radius: 20px 20px 0px 0px;
        }

        .section_restaurants__cardinfos{
            height: 100%;
            display: flex;
            justify-content: space-between;
            padding: 15px;
            padding-right:40px;
        }

            .cardinfos__txt{
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 7px;
            }

                .txt__restoname{
                    font-weight: bold;
                }
                

/**HOVER FAVORIS**/
.fa-heart{
    font-size:25px;
    margin-right:30px;
    position: absolute;
}

    .fa-heart-before{  
        color: gray;
    }
    .fa-heart-after{
        color: transparent;
        transition:all 2s;
    }
    .fa-heart-after:hover{
        background: linear-gradient(to bottom left, #9356dc, #ff79da);
        -webkit-background-clip: text;
    }
/**icone nouveau**/
.card__nouveau{
    position: absolute;
    color: #3b8468;
    background-color: #99E2D0;
    padding: 8px 16px 8px 16px;
    align-self: flex-end;
    margin-top:15px;
    margin-right:15px;
    border-radius: 3px;
    font-weight: 500;
}

/*********FOOTER*********/             
footer{
width: 100%;
display: flex;
flex-direction: column;
padding-bottom: 20px;
background-color: #353535;
}

    .footer__logo_marque{
        filter: invert(100%) sepia(33%) saturate(0%) hue-rotate(328deg) brightness(107%) contrast(101%);       
        width: 120px;
        padding: 35px 0px 0px 35px;
        color: white;
        text-decoration: none;
    }

    nav ul{
        list-style-type: none;
    }
    nav li{
        padding: 5px;
    }
        .footer__logos{
            width: 12px;
            filter: invert(100%) sepia(33%) saturate(0%) hue-rotate(328deg) brightness(107%) contrast(101%);
            margin-right: 3px;
        }
        
        nav a{
            color: white;
            text-decoration: none;
        }
        nav a:hover{
            text-decoration: underline;
        }

/*********FORMAT TABLETTE*********/             
@media screen and (min-width:768px) and (max-width:1150px){

body{
    min-width: 768px;
    max-width: 1150px;
}

.section_fonctionnement{
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;
}
    .section_fonctionnement__card{
        width: 47%;
    }
            
.section_restaurants{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}   
    .section_restaurants__card{
        width: 45%;
    }
}
/*********FORMAT DESKTOP*********/             
@media screen and (min-width:1151px) {

body{
    min-width: 1151px;
    max-width:none;
}
    
.section_fonctionnement{
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;
}
    .section_fonctionnement__card{
        width: 30%;
    }
    
    .section_restaurants{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    }   
        .section_restaurants__card{
            width: 45%;
        }
}
