body{
    max-width: 767px;
    margin: auto;
    font-family: roboto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/********HEADER********/
header{
    display: flex;
    align-items: center;
    margin: auto;
    width: 100%;
}

    .logo_ohmyfood{
        width: 200px;
        padding: 15px;
        margin: auto;
    }

    .fa-arrow-left{
        font-size: 20px;
        padding: 15px;
        display: flex;
        left: 10px;
        color: black;
    }
   
/********image********/
.image_resto{
    width: 100%;
    height: 450px;
    object-fit: cover;
}

/********MAIN********/
main{
  margin-top: -80px;
  width: 100%;
  background-color:#f6f6f6;
  border-radius: 30px 30px 0px 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/****titre****/
.resto_titre{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

    h2{
        font-family:shrikhand;
        margin-left: 15px;
    }

    .fa-heart{
        font-size: 25px;
        margin-right: 15px;
    }

/***menu_card***/
.menu_card{
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

    .menu_card__title{
        position: relative;
        color: #575757;
        margin-bottom: 10px;
    }
    .menu_card__title:before {
        content: " ";
        position: absolute;
        top: 22px;
        bottom: 0;
        left: 0;
        right: 92%;
        border: 3px solid #99E2D0;
        border-width: 0 0 3px 0;
    }

    .menu_card__plat_card{
        background-color: white;
        border-radius: 10px;
        display: flex;
        justify-content: space-between;
        box-shadow: 2px 3px 8px 4px rgb(236, 236, 236);
    }

    .menu_infos{
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 10px;
        gap: 10px;
    }

    .menu_card__plat_card, .menu_infos, .plat_card__txt, .txt__title, .txt__subtitle{
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

        .txt__title{
            font-weight: bold;
            padding: 3px;
            text-overflow: ellipsis;
        }
        .txt__subtitle{
            color:#434343 ;
            padding: 3px;
            text-overflow: ellipsis;          
            overflow: hidden;
        }

        .plat_card__prix{
            align-self: flex-end;
            font-weight: bold;
            justify-content: flex-end;
            margin-right: 15px;
        }    
        
/***effet check***/       
.effet_check{
    background: #99e2d0;
    cursor: pointer;
    height: auto;
    width: 0;
    opacity: 0;
    border-radius: 0 10px 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.4s ease-in-out, width 0.4s ease-in-out, opacity 0.4s ease-in-out;
}
        
.menu_card__plat_card:hover .effet_check {
    opacity: 100%;
    width: 20%;
}

.menu_card__plat_card .effet_check .fa-circle-check{
    font-size: 40px;
    color: white;
    transform: rotate(180deg);
    transition: 0.4s ease-in-out;
}

.menu_card__plat_card:hover .fa-circle-check{
    transform: rotate(0deg);
}





/***bouton***/
.bouton_commander{
         width: fit-content;
        margin: 15px;
        text-decoration: none;
        color: black;
        border-radius: 40px;
        padding: 15px 30px 15px 30px;
        color: white;
        background:linear-gradient(#FF79DA, #9356DC) ;
        box-shadow: 2px 3px 12px 4px rgb(220, 220, 220);
        transition: 0.3s ease-in-out;
        align-self: center;
        margin-bottom: 40px;
        margin-top: 40px;
}
.bouton_commander:hover{
    filter: brightness(1.1);
    box-shadow: 2px 10px 20px 0px rgb(188, 188, 188);    
}

/*********FOOTER*********/             
footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    background-color: #353535;
    }
    
        .footer__logo_marque{
            filter: invert(100%) sepia(33%) saturate(0%) hue-rotate(328deg) brightness(107%) contrast(101%);       
            width: 120px;
            padding: 35px 0px 0px 35px;
            color: white;
            text-decoration: none;
        }
    
        nav ul{
          list-style-type: none;
        }
        nav li{
            padding: 5px;
        }
            .footer__logos{
                width: 12px;
                filter: invert(100%) sepia(33%) saturate(0%) hue-rotate(328deg) brightness(107%) contrast(101%);
                margin-right: 3px;
            }
            
            nav a{
                color: white;
                text-decoration: none;
            }
            nav a:hover{
                text-decoration: underline;
            }
    
/*********SCREEN*********/  
@media screen and (min-width:768px) and (max-width:1150px) {
body{
    min-width: 768px;
    max-width: 1150px;
}

.menu_card{
    flex-direction: row;
    flex-wrap: wrap;
}

    .menu_card__plat_card{
    width: 49%;
    }

    .menu_card__title{
        width: 100%;
    }
}

/*********SCREEN*********/  
@media screen and (min-width:1151px) {
body{
    min-width: 1151px;
    max-width: none;
}

    .menu_card{
        flex-direction: row;
        flex-wrap: wrap;
    }
    
        .menu_card__plat_card{
        width: 32%;
        }
    
        .menu_card__title{
            width: 100%;
        }
    }
    
